:root {
  --tile-size : 100px;
  --light-tile : #F0D8B6;
  --dark-tile : #B48764;
  --bg-color : #202020;
  --highlight : rgba(0,0,0,.1);
  --check : #FEEC48;
}

@media all and (max-width: 450px) {
  :root {
      --tile-size : 50px;
  }
}

/* .App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: 'Sofia Sans', sans-serif;
  grid-template-columns: auto 220px;
} */
button {
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
} 